@import url('https://fonts.googleapis.com/css2?family=Lora&family=Quicksand:wght@400&display=swap');
/*font-family: 'Lora', serif;
font-family: 'Quicksand', sans-serif;*/
.imagentop{
    width: 100%;
    height: 400px;
    background-image: url(img/libro.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
}

#seccontenidos{
    width: 70%;
    margin: 0 auto;
}
#seccontenidos p{
    font-size: 15px;
    line-height: 25px;
    font-family: 'Lora', serif;
    text-align: justify;
}
.destacados{
    margin-top: 40px;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-weight: 500;
}
.fecha{    
    font-family: 'Quicksand', sans-serif;
    font-size: 9px;
    font-weight: lighter;
}

a h2{
    font-weight: lighter;
    color: black;
}

.linea{
    margin-top: 14px;
    margin-bottom: 14px;
    height: 1px;
    background: black;
    border: none;
    width: 20px;
}

a{
    text-decoration: none;
    list-style: none;
}