*{ 
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


h1{
    font-family: 'Lexend Deca', sans-serif;
}

p{
    font-family: 'Nunito Sans', sans-serif;
}

h2, h3{
    font-family: 'Playfair Display', serif;
}


#videoheader{
    width: 100%;
}

.producto{    
    margin-left: 120px;
    font-size: 20pt;
    margin-bottom: 40px;
    margin-top: 60px;
}

    
.contenedor-fotos{
    width: 100%;
    display: flex;
    padding: 40px;
    justify-content: center;
}

.contenedor-fotos figure{
    position:relative;
    height: 250px;
    cursor: pointer;
    width: 350px;
    overflow: hidden;
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.contenedor-fotos figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedor-fotos figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.542);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: left;
}

.capa {
    opacity: 1;
    visibility: visible;
}

.capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}



.contenedor-fotos figure .capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
    margin-left: 65px;

}

.contenedor-fotos figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}